/*--------TIPOGRAFIA---------*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/*-----------RESET------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif !important;
  padding-top: 85px; }

/*---- VARIABLES LISTAS EXTEND MIXIN ----*/
.boton, .hero .boton, .what-we-offer .boton, .suscription .suscription-container div .boton {
  width: 150px;
  text-align: center;
  background-color: #060707;
  text-decoration: none;
  color: white;
  font-size: 16px;
  margin: 5px;
  border: 1px rgba(255, 255, 255, 0.867) solid;
  border-radius: 30px;
  padding: 8px 20px 8px 20px;
  transition: all 0.4s; }
  .boton:hover, .suscription .suscription-container div .boton:hover {
    background-color: white;
    color: #060707;
    transform: scale(1.1); }

/*-----------INDEX------------*/
.fixed {
  position: fixed;
  bottom: 150px;
  right: 50px; }
  .fixed img {
    width: 60px;
    height: auto; }

/*-----------GENERALES------------*/
.titulo {
  color: white;
  font-size: 60px;
  padding-left: 60px; }

.boton-chico {
  width: 90px;
  text-align: center;
  background-color: #060707;
  text-decoration: none;
  color: white;
  font-size: 16px;
  margin: 5px;
  border: 1px rgba(255, 255, 255, 0.867) solid;
  border-radius: 30px;
  padding: 8px 20px 8px 20px;
  transition: all 0.4s; }
  .boton-chico:hover {
    background-color: white;
    color: #060707; }

/*-----------NAV------------*/
header .menu {
  background-color: #060707; }

header nav div div ul .nav-link:hover {
  color: #442D72;
  text-decoration: underline;
  transition: all 0.4s; }

header nav div a img {
  width: 120px; }

main {
  background-color: #060707;
  width: 100%; }

/*?-------- INDEX -------*/
.hero {
  width: 100%;
  height: 900px;
  background-image: url(../img/fondodegradado.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  padding-top: 60px; }
  .hero h1 {
    width: 70%;
    color: white;
    font-size: 70px;
    font-weight: bolder;
    padding-left: 60px; }
  .hero p {
    width: 53%;
    color: rgba(255, 255, 255, 0.966);
    font-size: 20px;
    font-weight: 200;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 60px; }
  .hero .boton {
    margin-left: 60px; }
  .hero .wrapper {
    width: 100%;
    max-width: 1500px;
    margin-inline: auto;
    position: relative;
    height: 60px;
    margin-top: 260px;
    overflow: hidden;
    display: flex; }
    .hero .wrapper .item {
      width: 150px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      font-size: 14px;
      text-align: center;
      padding: 5px;
      border: 1px solid white;
      border-radius: 30px;
      color: rgba(255, 255, 255, 0.768);
      position: absolute;
      left: 100%;
      animation-name: scrollleft;
      animation-duration: 30s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-delay: -15s; }
    .hero .wrapper .item1 {
      animation-delay: calc(30s / 8 * (8 - 1) * -1); }
    .hero .wrapper .item2 {
      animation-delay: calc(30s / 8 * (8 - 2) * -1); }
    .hero .wrapper .item3 {
      animation-delay: calc(30s / 8 * (8 - 3) * -1); }
    .hero .wrapper .item4 {
      animation-delay: calc(30s / 8 * (8 - 4) * -1); }
    .hero .wrapper .item5 {
      animation-delay: calc(30s / 8 * (8 - 5) * -1); }
    .hero .wrapper .item6 {
      animation-delay: calc(30s / 8 * (8 - 6) * -1); }
    .hero .wrapper .item7 {
      animation-delay: calc(30s / 8 * (8 - 7) * -1); }
    .hero .wrapper .item8 {
      animation-delay: calc(30s / 8 * (8 - 8) * -1); }

@keyframes scrollleft {
  to {
    left: -150px; } }

.workflow {
  width: 100%;
  height: 1250px; }
  .workflow h2 {
    color: white;
    font-size: 60px;
    padding: 40px; }
  .workflow img {
    width: 20%;
    animation: rotation 8s infinite linear; }

@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }
  .workflow div {
    width: 100%;
    height: 280px;
    padding: 50px; }
    .workflow div h3 {
      color: white;
      font-size: 50px;
      font-weight: lighter;
      padding-bottom: 40px; }
    .workflow div p {
      color: white;
      width: 50%;
      font-size: 18px;
      font-weight: lighter; }

.what-we-offer {
  width: 100%;
  height: 1200px; }
  .what-we-offer h2 {
    color: white;
    padding: 50px;
    font-size: 60px; }
  .what-we-offer .what-we-offer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; }
    .what-we-offer .what-we-offer-container div {
      color: white;
      font-size: 20px;
      width: 400px;
      height: 300px;
      padding: 30px;
      margin: 10px;
      border-radius: 10px;
      background-color: #442D72; }
      .what-we-offer .what-we-offer-container div:hover {
        background-color: rgba(137, 43, 226, 0.745);
        transition: all 0.4s; }
      .what-we-offer .what-we-offer-container div h3 {
        color: white; }
      .what-we-offer .what-we-offer-container div p {
        font-size: 18px;
        font-weight: 200; }
      .what-we-offer .what-we-offer-container div img {
        width: 25%; }
  .what-we-offer .boton {
    margin-left: 40px; }

/*?-------- WORK -------*/
.grid-galeria {
  width: 100%;
  height: 1500px;
  padding: 70px;
  display: grid;
  grid-auto-rows: 300px;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 140px;
  column-gap: 6px; }
  .grid-galeria .grid-item {
    font-size: 16px;
    color: white;
    position: relative; }
    .grid-galeria .grid-item a img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .grid-galeria .grid-item h3 {
      position: absolute;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.71);
      color: #060707;
      padding: 3px;
      font-size: 16px; }
    .grid-galeria .grid-item a {
      text-decoration: none;
      color: white; }
      .grid-galeria .grid-item a h4 {
        padding-top: 20px;
        font-size: 20px; }

/*?-------- SUSCRIPTIONS -------*/
.suscription {
  width: 100%;
  height: 900px; }
  .suscription h1 {
    color: white;
    font-size: 60px;
    padding-left: 60px; }
  .suscription .suscription-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 40px; }
    .suscription .suscription-container .standard {
      background-color: #58A957; }
    .suscription .suscription-container .pro {
      background-color: #1D4A25; }
    .suscription .suscription-container .max {
      background-color: #0d2111; }
    .suscription .suscription-container div {
      color: white;
      font-size: 20px;
      border-radius: 10px;
      width: 370px;
      height: 470px;
      padding: 30px;
      margin: 10px; }
      .suscription .suscription-container div h2 {
        font-size: 26px;
        text-decoration: underline; }
      .suscription .suscription-container div ul {
        margin-bottom: 30px; }
        .suscription .suscription-container div ul li {
          font-size: 18px; }

/*?-------- ABOUT US -------*/
.our-story {
  height: 1000px;
  padding-left: 60px; }
  .our-story h1 {
    color: white;
    font-size: 60px; }
  .our-story p {
    color: white;
    font-size: 20px;
    width: 60%;
    padding-top: 40px;
    padding-bottom: 40px; }
  .our-story img {
    width: 60%; }

/*?-------- CONTACT -------*/
.formulario {
  color: white;
  padding: 40px;
  height: 500px; }

footer {
  width: 100%;
  padding: 40px;
  display: grid;
  grid-template-rows: 200px 50px;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  padding: 60px;
  background-image: url(../img/fondofooter.jpg); }
  footer div .correo {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    line-height: 40px; }
  footer div h3 {
    color: white; }
  footer div ul {
    display: flex;
    justify-content: end;
    align-items: center; }
    footer div ul li {
      padding: 20px;
      color: white;
      list-style: none; }
  footer div img {
    width: 120px; }
  footer div label {
    color: white; }
  footer .iconos {
    display: flex;
    justify-content: end;
    align-items: center; }
    footer .iconos i {
      font-size: 36px;
      color: white;
      padding: 10px; }
      footer .iconos i:hover {
        color: #1D4A25; }

/*-----------MEDIA QUERIES------------*/
@media (max-width: 1300px) {
  .grid-galeria {
    height: 2000px;
    grid-template-columns: repeat(3, 1fr); }
  .workflow div p {
    font-size: 22px;
    width: 70%; }
  footer div ul {
    display: flex;
    flex-direction: column; }
    footer div ul li {
      padding: 5px;
      text-align: right; } }

/*-----------------------*/
@media (max-width: 1125px) {
  .hero .wrapper {
    max-width: 1125px; }
    .hero .wrapper .item {
      width: 130px;
      height: 40px;
      font-size: 13px;
      display: flex;
      justify-content: center;
      align-items: center; }
  @keyframes scrollleft {
    to {
      left: -130px; } }
  .grid-galeria {
    height: 2800px;
    grid-template-columns: repeat(2, 1fr); }
  .workflow div {
    padding: 40px; }
    .workflow div p {
      font-size: 22px;
      width: 70%; }
  .what-we-offer {
    height: 1200px; }
    .what-we-offer .what-we-offer-container div {
      width: 500px;
      height: 350px;
      margin-bottom: 20px; }
  .suscription {
    height: 1400px; }
  footer div ul {
    display: flex;
    flex-direction: column; } }

/*-----------------------*/
@media (max-width: 996px) {
  html, body {
    width: 100%;
    overflow-x: hidden; }
  .hero .wrapper {
    max-width: 996px;
    margin-top: 200px; }
    .hero .wrapper .item {
      width: 110px;
      height: 35px;
      font-size: 11px;
      display: flex;
      justify-content: center;
      align-items: center; }
  .hero p {
    font-size: 25px;
    width: 80%; }
  @keyframes scrollleft {
    to {
      left: -110px; } }
  .grid-galeria {
    height: 2800px;
    grid-auto-rows: 300px;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 140px;
    column-gap: 6px; }
  .what-we-offer {
    height: 2500px; }
    .what-we-offer .what-we-offer-container {
      flex-direction: column; }
      .what-we-offer .what-we-offer-container div {
        width: 600px;
        height: 300px;
        margin-bottom: 20px; }
        .what-we-offer .what-we-offer-container div img {
          width: 15%; }
    .what-we-offer a {
      margin-left: 250px; }
  .workflow {
    padding: 20px; }
    .workflow div p {
      font-size: 22px;
      width: 90%; }
  footer div ul {
    display: flex;
    flex-direction: column; }
    footer div ul li {
      padding: 5px;
      text-align: right; }
  footer div i {
    font-size: 42px;
    color: white;
    padding: 12px; } }

/*-----------------------*/
@media (max-width: 768px) {
  html, body {
    width: 100%;
    overflow-x: hidden; }
  .hero .wrapper {
    max-width: 768px; }
    .hero .wrapper .item {
      width: 86px;
      height: 35px;
      font-size: 10px;
      display: flex;
      justify-content: center;
      align-items: center; }
  .hero h1 {
    width: 100%;
    font-size: 62px; }
  .hero p {
    font-size: 25px;
    width: 80%; }
  @keyframes scrollleft {
    to {
      left: -100px; } }
  .grid-galeria {
    height: 5500px;
    grid-template-columns: 1fr; }
  .workflow div {
    padding: 40px;
    margin-bottom: 40px; }
    .workflow div p {
      font-size: 22px;
      width: 100%; }
  .what-we-offer .what-we-offer-container div {
    width: 500px;
    height: 300px;
    margin-bottom: 20px; }
    .what-we-offer .what-we-offer-container div img {
      width: 20%; }
  .what-we-offer a {
    margin-left: 90px; }
  .fixed {
    position: fixed;
    bottom: 190px; }
    .fixed img {
      width: 75px;
      height: auto; }
  .suscription {
    height: 1900px; }
  .our-story {
    height: 1000px; }
    .our-story p {
      width: 90%; }
    .our-story img {
      width: 90%; }
  footer {
    height: 600px;
    grid-template-rows: 100px;
    grid-template-columns: 1fr;
    row-gap: 10px; }
    footer div img {
      width: 150px; }
    footer div ul {
      padding-left: 0;
      padding-top: 50px; }
      footer div ul li {
        text-align: left;
        font-size: 18px;
        padding: 0; }
    footer .iconos {
      justify-content: start; }
      footer .iconos i {
        font-size: 48px;
        color: white;
        padding: 15px; } }

/*-----------------------*/
@media (max-width: 576px) {
  html, body, footer {
    width: 100%;
    overflow-x: hidden; }
  .hero .wrapper {
    max-width: 576px; }
    .hero .wrapper .item {
      width: 76px;
      height: 35px;
      padding: 3px;
      font-size: 10px;
      display: flex;
      justify-content: center;
      align-items: center; }
  .hero h1 {
    width: 100%;
    font-size: 60px; }
  .hero p {
    font-size: 25px;
    width: 90%; }
  .fixed {
    position: fixed;
    bottom: 160px; }
    .fixed img {
      width: 75px;
      height: auto; }
  .what-we-offer-container div {
    width: 450px;
    height: 240px; }
  .workflow div {
    padding: 40px;
    margin-bottom: 40px; }
    .workflow div p {
      font-size: 22px;
      width: 100%; }
  .workflow img {
    margin-left: 30px; }
  .grid-galeria {
    height: 5500px; }
  footer {
    row-gap: 20px; } }
