footer { 
    width: 100%;
    padding: 40px;
    display: grid;
    grid-template-rows: 200px 50px;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    padding: 60px;
    div {
        h3 {
            color: white;
        }
        ul {
            @include flex(flex, end, center);
            li {     
                padding: 20px;
                color: white;
                list-style: none;
            }
        }
        img {
            width: 120px;
        }
        label {
            color: white;
        }
    }
    .iconos {
        @include flex(flex, end, center);
        i {
            font-size: 36px;
            color: white;
            padding: 10px;
            &:hover {
                color: $color-oscuro;
            }
        }
    }
}
