/*--------TIPOGRAFIA---------*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*-----------RESET------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif !important;
}

/*---- VARIABLES LISTAS EXTEND MIXIN ----*/

$color-principal: #060707;
$color-secundario: #58A957;
$color-terciario: #442D72;
$color-oscuro: #1D4A25;

$font-size: 16px, 18px, 20px, 26px, 50px, 60px, 70px; 

%boton {
    width: 10%;
    text-align: center;
    background-color: $color-principal;
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin: 5px;
    border: 1px rgba(255, 255, 255, 0.867) solid;
    border-radius: 30px;
    padding: 8px 20px 8px 20px;
    &:hover {
        background-color: white;
        color: $color-principal;
    }  
}

@mixin flex ($flex, $justify, $align) {
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}


/*-----------INDEX------------*/

.fixed {
    position: fixed;
    bottom: 150px;
    right: 50px;
    img {
        width: 60px;
        height: auto;
    }
}

/*-----------GENERALES------------*/

.titulo {
    color: white;
    font-size: nth($font-size, 6);
    padding-left: 60px;
}

.boton {
    @extend %boton;
}


